.item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 2px;
    border-radius: 10px;
    width: 50vw;
    height: 35px;
    margin: 5px 0;
}
.item-container:hover{
    background-color: rgb(233, 233, 233);
}
.completed{
    color:green;
    text-decoration: line-through;
    border: green solid 2px; 
}